{% extends 'base_template.html' %}

{% block content %}

    <div class="container" id="scorer_container">
        <div class="row bg-dark text-success" id="score-section">
            <div class="col-6 text-center my-2">
                <h6 class="font-weight-bold my-2">Team X</h6>
                <h1 class="display-4">0/0</h1>
                <h6 class="font-weight-bold my-2">Overs: 0.0</h6>

            </div>
            <div class="col-6 text-center my-2">
                <h6 class="font-weight-bold my-2">Team X</h6>
                <h1 class="display-4">0/0</h1>
                <h6 class="font-weight-bold my-2">Overs: 0.0</h6>
            </div>
            <div class="col-12">
                <h6 class="text-center my-2"> Need 0 runs in 0 balls</h6>
            </div>
            <div class="col-12 my-3">
                <div class="card bg-dark">
                    <div class="card-header">
                        <h6 class="font-weight-bold text-center">Remote</h6>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">{{delivery_form}}</form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-dark" id="matchModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h4 class="text-success font-weight-bold mt-1">Add Match Details</h4>
                    <button class="btn p-0 mt-2" data-dismiss="modal"><span class="fas fa-window-close text-success m-0"></span></button>
                </div>
    
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                            {{match_form}}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success">Add Player</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(() => {
            // $('#matchModal').modal('show');
            $('input[type="text"]').addClass('form-control mb-3');
            $('input[type="checkbox"]').addClass('form-check-input mb-3 mx-3');
            $('select').addClass('form-control mb-3');
        });
    </script>
{% endblock %}