<nav class="deep-orange">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Cricket Scorer</a>
            <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Walkthrough</a></li>
                <li><a href="/">Login</a></li>
                <li><a href="/">Signup</a></li>
            </ul>
        </div>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Walkthrough</a></li>
    <li><a href="/">Login</a></li>
    <li><a href="/">Signup</a></li>
</ul>