{% extends 'base_template.html' %}

{% block content %}

    <div class="row">
        <div class="col-sm-6 mt-3 mx-auto">
            <div class="card">
                <div class="card-header bg-dark text-center">
                    <h4 class="text-success font-weight-bold mt-1">Add Match Details</h4>
                </div>
    
                <form action="" method="post" id="match-form">
                    {% csrf_token %}
                    <div class="card-body">
                        {{match_form}}
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-outline-success">Start Match</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(() => {
            $('#matchModal').modal('show');
            $('input[type="text"]').addClass('form-control mb-3');
            $('input[type="number"]').addClass('form-control mb-3');
            $('input[type="checkbox"]').addClass('form-check-input mb-3 mx-3');
            $('select').addClass('form-control mb-3');
        });
    </script>

    <!-- {% load static %} -->
    <!-- <script src="{% static 'scripts/add_match_details.js' %}"></script> -->

{% endblock %}