{% extends 'base_template.html' %}

{% block content %}

{% load static %}
    <script src="{% static 'scripts/Chart.min.js' %}"></script>

    <input type="hidden" id="innings1_runs" value="{{innings1_runs}}">
    <input type="hidden" id="innings2_runs" value="{{innings2_runs}}">
    <input type="hidden" id="run_dist1" value="{{run_dist1}}">
    <input type="hidden" id="run_dist2" value="{{run_dist2}}">
    <input type="hidden" id="runs_per_over2" value="{{runs_per_over2}}">
    <input type="hidden" id="runs_per_over1" value="{{runs_per_over1}}">

    <div class="row mt-3 mx-1 mb-0">
        <div class="col-6">
            <h3 class="text-success">Match#{{match_id}}</h3>
        </div>
        <div class="col-6 text-right">
            <a href="{% url 'user:track_match' match_id%}" class="btn btn-outline-success">Continue</a>
        </div>
    </div>
    <hr class="mx-3 mt-0">
    <div class="row mx-1">

        <div class="col-sm-7 my-2">
            <div class="nav nav-tabs" id="tab_bar">
                <li class="nav-item nav-link text-success active" id="batting_tab">Batting</li>
                <li class="nav-item nav-link text-success" id="bowling_tab">Bowling</li>
                <li class="nav-item nav-link text-success" id="scores_tab">Scores</li>
                <li class="nav-item nav-link text-success" id="run_dist_tab">Run Distribution</li>
                <li class="nav-item nav-link text-success" id="econ_tab">Progress</li>
            </div>
            <div id="batting_scorecard_container" class="scorecard_container p-3 containers">
                <h4 class="text-success text-center">Team - 1</h4>
                <div class="row bg-dark text-success p-3">
                    <div class="col-8">
                        <span class="font-weight-bold align-middle">Batsman</span>
                    </div>
                    <div class="col-4">
                        <span class="font-weight-bold align-middle">Runs</span>
                    </div>
                </div>
                {% for i in batsmen_inning1 %}
                    <div class="row my-3">
                        <div class="col-8">{{i.strike}}</div>
                        <div class="col-4">{{i.batsman_runs__sum}}({{i.ball_id__count}})</div>
                    </div>
                {% endfor %}

                <h4 class="text-success text-center">Team - 2</h4>
                <div class="row bg-dark text-success p-3">
                    <div class="col-8">
                        <span class="font-weight-bold align-middle">Batsman</span>
                    </div>
                    <div class="col-4">
                        <span class="font-weight-bold align-middle">Runs</span>
                    </div>
                </div>
                {% for i in batsmen_inning2 %}
                    <div class="row my-3">
                        <div class="col-8">{{i.strike}}</div>
                        <div class="col-4">{{i.batsman_runs__sum}}({{i.ball_id__count}})</div>
                    </div>
                {% endfor %}
            </div>

            <div id="bowling_scorecard_container" class="scorecard_container p-3 d-none containers">
                <h4 class="text-success text-center">Team - 1</h4>
                <div class="row bg-dark text-success p-3">
                    <div class="col-8">
                        <span class="font-weight-bold align-middle">Bowler</span>
                    </div>
                    <div class="col-4">
                        <span class="font-weight-bold align-middle">ovs-runs-wkts</span>
                    </div>
                </div>
                {% for i in bowlers_innings1 %}
                    <div class="row my-3">
                        <div class="col-8">{{i.name}}</div>
                        <div class="col-4">{{i.overs}} - {{i.runs_conceded}} - {{i.wickets}}</div>
                    </div>
                {% endfor %}

                <h4 class="text-success text-center">Team - 2</h4>
                <div class="row bg-dark text-success p-3">
                    <div class="col-8">
                        <span class="font-weight-bold align-middle">Bowler</span>
                    </div>
                    <div class="col-4">
                        <span class="font-weight-bold align-middle">ovs-runs-wkts</span>
                    </div>
                </div>
                {% for i in bowlers_innings2 %}
                    <div class="row my-3">
                        <div class="col-8">{{i.name}}</div>
                        <div class="col-4">{{i.overs}} - {{i.runs_conceded}} - {{i.wickets}}</div>
                    </div>
                {% endfor %}
            </div>

            <div class="chart_container mx-auto mt-5 d-none containers" style="position: relative; width: 95%; height: 50vh;">
                <canvas id="line_chart_area" class="bg-dark rounded p-3 d-none chart-area"></canvas>
                <canvas id="pie_chart_area" class="bg-dark rounded p-3 d-none chart-area"></canvas>
                <canvas id="econ_chart_area" class="bg-dark rounded p-3 d-none chart-area"></canvas>
            </div>

        </div>

        <div class="col-sm-5 my-2">
            <div class="card bg-dark shadow-card py-3">
                <div class="card-body text-success">
                    <h4 class="mt-1 mb-3">Team 1: {{team1_score}}/{{wickets1}} ({{overs1}})</h4>
                    <h4 class="my-3">Team 2: {{team2_score}}/{{wickets2}} ({{overs2}})</h4>
                </div>
            </div>
            <div class="text-center">
                <img src="{% static 'images/match_stats_illus.svg' %}" style="width: 90%; margin-top: 7vw;" alt="">
            </div>
        </div>
    </div>
    <!-- <p>{{run_dist1}}</p> -->
    <script src="{% static 'scripts/update_match_chart.js' %}"></script>

{% endblock %}