{% extends 'base_template.html' %}

{% block content %}

{% load static %}

    <div class="row mt-3 mx-1 mb-0">
        <div class="col-10">
            <h3 class="text-success">Player Pool</h3>
        </div>
        <div class="col-2 text-right pt-2">
            <button class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#addPlayerModal"><small><span class="fas fa-plus"></span> </small><span class="font-weight-bold d-none d-lg-inline">Add</span></button>
        </div>
    </div>
    <hr class="mx-3 mt-0">
    <div class="row mx-1">

        <div class="col-sm-8 my-2">
            <table class="table table-striped table-responsive">
                <thead class="bg-dark text-success">
                    <tr>
                        <th>Name</th>
                        <th>Innings</th>
                        <th>Batting</th>
                        <th>Runs</th>
                        <th>Strike Rate</th>
                        <th>Bowling</th>
                        <th>Wickets</th>
                        <th>Economy</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in profiles %}
                        <tr>
                            <td>{{player.name}}</td>
                            <td>{{player.innings}}</td>
                            <td>{{player.bat_style}}</td>
                            <td>{{player.runs}}</td>
                            <td>{{player.strike_rate}}</td>
                            <td>{{player.bowl_style}}</td>
                            <td>{{player.wickets}}</td>
                            <td>{{player.economy}}</td>
                            <td><a href="{% url 'user:player_profile' player.id %}" class="btn btn-sm btn-outline-info">Stats</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-sm-4 my-2">
            <div class="card bg-dark shadow-card">
                <div class="card-body text-success">
                    <h6>Players in pool: {{player_count}}</h6>
                    <h6 class="my-3">Highest Run Scorer: {{highest_run_scorer.name}}({{highest_run_scorer.runs}})</h6>
                    <h6 class="my-3">Highest Wicket Taker: {{highest_wicket_taker.name}}({{highest_wicket_taker.wickets}})</h6>
                    <h6 class="my-3">Best Strike Rate: {{best_strike_rate.name}}({{best_strike_rate.strike_rate}})</h6>
                    <h6 class="my-3">Best Economy: {{best_economy.name}}({{best_economy.economy}})</h6>
                </div>
            </div>
        </div>

    </div>

    <div class="modal" id="addPlayerModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h4 class="text-success font-weight-bold mt-1">Add Player</h4>
                    <button class="btn p-0 mt-2" data-dismiss="modal"><span class="fas fa-window-close text-success m-0"></span></button>
                </div>
                <form action="{% url 'user:add_player' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                            {{form}}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success">Add Player</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(() => {
            $('input').addClass('form-control mb-3');
            $('select').addClass('form-control mb-3');
        });
    </script>
{% endblock %}