*{
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: monospace;
    font-weight: lighter;
    letter-spacing: 1.5px;
}

#aboutUs{
    line-height: 2em;
}

#login_card{
    min-height: 60vh;
}

#login_card>div{
    width: 50%;
}

#login_card>div>a{
    width: 100%;
    font-family: monospace;
    font-size: 1.2em;
    font-weight: bold;
    color: whitesmoke;
}

#login_card>div>a:hover{
    color: white;
    box-shadow: 0px 0px 8px #00695c;
}

nav *{
    font-weight: bold;
}

li.nav-item.nav-link{
    font-size: 1.3em;
    border-radius: 0px;
    font-weight: bold;
    color: white;
}

li.nav-item.nav-link:hover{
    cursor: pointer;
}

.auth-submit-btn{
    display: block;
    margin: auto;
    font-weight: bold;
    letter-spacing: 2px;
}

.auth-submit-btn:hover{
    box-shadow: 0px 0px 4px #00695c;
}

ul.errorlist.nonfield{
    list-style: none;
    padding-left: 0;
    color: tomato;
    text-align: justify;
}

div.shadow-card{
    box-shadow: 0px 0px 2px darkgray;
}

th{
    font-weight: bold;
    font-size: 1.1em;
}

#score-section{
    position: sticky;
    top: 50px;
}

#timeline{
    width: 200px;
    overflow-x: scroll;
    white-space: nowrap;
}

@media only screen and (min-width: 768px){
    #scorer_container{
        width: 75%;
    }
}

@media only screen and (min-width: 1200px){
    #scorer_container{
        width: 50%;
    }
}