{% extends 'base_template.html' %}

{% block content %}

    <div class="row mt-5">
        <div class="col-lg-8  text-center" id="aboutUs">
            <!-- <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. At amet blanditiis labore aliquid, rem inventore distinctio eaque. Itaque nisi iure nam soluta pariatur ex, fugit ipsam blanditiis sequi totam eveniet.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt commodi itaque quae consequuntur animi reprehenderit doloribus tempore quia voluptates qui veritatis, mollitia autem, deserunt ipsum hic natus voluptatibus distinctio praesentium.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius debitis et culpa dolores laboriosam aperiam consequatur dolorem, aspernatur vel animi in sint tempore ex est voluptate, ut aliquam quae quis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero veniam, asperiores sapiente rem illo nostrum repellendus cumque esse impedit? Sequi, hic eveniet? Iure assumenda earum modi corporis suscipit porro culpa!
            </p>
            <hr>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. At amet blanditiis labore aliquid, rem inventore distinctio eaque. Itaque nisi iure nam soluta pariatur ex, fugit ipsam blanditiis sequi totam eveniet.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt commodi itaque quae consequuntur animi reprehenderit doloribus tempore quia voluptates qui veritatis, mollitia autem, deserunt ipsum hic natus voluptatibus distinctio praesentium.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolore voluptas vitae quasi pariatur delectus, et minima cum quidem perferendis debitis asperiores deserunt minus possimus accusantium ad labore sequi illo.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus accusantium quam molestias veniam dolore omnis, vel tempore accusamus animi quisquam fuga fugit, explicabo facere ex sapiente vitae ea perspiciatis ducimus?
            </p> -->
            {% load static %}
            <div>
                <img src="{% static 'images/illus_chart.svg' %}" class="w-75" alt="" srcset="">
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="card bg-dark mt-3" id="login_card">
                <div class="m-auto">
                    <a href="/login" class="btn btn-outline-success text-white p-2">Log In</a>
                    <hr class="text-light">
                    <a href="/login" class="btn btn-success text-white p-2">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}