{% extends 'base_template.html' %}

{% block content %}

    <div class="container" style="margin-top: 7vw;">
        <div class="row">
            <div class="col-lg-8 text-center" id="aboutUs">
                {% load static %}
                <div>
                    <img src="{% static 'images/illus_chart.svg' %}" style="width: 60%; margin-top: 2vw;" alt="" srcset="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-dark" id="login_card">
                    <div class="m-auto">
                        <a href="/login" class="btn btn-outline-success text-white p-2">Log In</a>
                        <hr class="text-light">
                        <a href="/login" class="btn btn-success text-white p-2">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}