{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cricket Scorer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'stylesheets/style.css' %}">
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-success sticky-top">
        <a class="navbar-brand ml-3" href="/"><img src="{% static 'images/scorer.svg' %}" alt="" srcset="" width="40px"> Cricket Scorer</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navOptions" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navOptions">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Walkthrough</a>
                </li>
                {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Sign Up</a>
                    </li>
                {% else %}
                    <li class="nav-item rounded bg-dark px-2">
                        <a class="nav-link text-light" href="#">I am {{request.user}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"> Logout </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>