<!-- <div class="white py-20p">
    <div class="inner-container">
        <div class="row">
            <div class="col s12">
                <h5 class="sub-heading">Add New Player</h5>
            </div>
        </div>
    </div>
</div> -->

<div>
    <div class="inner-container">
        <div class="create-part">
            <div class="row" style="margin-top: 5vh;">
                <div class="col s12 m6">
                    <div class="card z-depth-2">
                        <div class="card-content">
                            <span class="card-title">Add New Player Details</span>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="player_name" id="player_name">
                                    <label for="player_name">Player Name</label>
                                </div>
                                <div class="input-field col s12">
                                    <input type="text" name="role" id="role" list="roles">
                                    <datalist id="roles">
                                        <option value="Batsman">
                                        <option value="Bowler">
                                        <option value="All Rounder">
                                    </datalist>
                                    <label>Primary Role</label>
                                </div>
                                <div class="input-field col s12">
                                    <input type="text" name="batting_style" id="batting_style" list="styles">
                                    <datalist id="styles">
                                        <option value="Right"></option>
                                        <option value="Left"></option>
                                    </datalist>
                                    <label>Batting Type</label>
                                </div>
                                <div class="input-field col s12">
                                    <input type="text" name="bowling_style" id="bowling_style" list="styles">
                                    <label>Bowling Type</label>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <div class="row valign-wrapper">
                                <div class="col s6">
                                    <button class="btn waves-effect waves-light deep-orange white-text">Create</button>
                                </div>
                                <div class="col s6 right-align">
                                    <a routerLink="/dashboard" class="deep-orange-text" style="text-transform: initial; margin-right: 0px;">Back Home</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 center-align">
                    <img src="/assets/images/add_player.svg" alt="" class="responsive-img" style="margin-top: 20%;">
                </div>
            </div>
        </div>

    </div>
</div>