<div class="container">
  <div class="row">
    <div class="col s12 m6 hide-on-small-only">
      <img
        src="assets/images/home_page.svg"
        alt=""
        class="responsive-img mt-20"
      />
    </div>

    <div class="col s12 m6 center-align">
      <img
        src="assets/images/home_page.svg"
        alt=""
        style="width: 100px;"
        class="hide-on-med-and-up mt-20"
      />
      <h3 class="hide-on-med-and-up">Cricket Scorer</h3>
      <h3 class="mt-40 hide-on-small-only">Cricket Scorer</h3>
      <p class="teal-text text-darken-3">
        - You ain't Scoring if you ain't Tracking
      </p>
    </div>
  </div>
</div>
